@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
@import url("https://cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css");

.App {
  text-align: center;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Bangers";
  color: #fff;
  letter-spacing: 2px;
}
.loading {
  color: #0ff;
}
.loading i {
  display: block;
  font-size: 35px;
  margin: 15px 0;
}
.content {
  border: 3px solid #ff0;
  transform: rotate(-2deg);
  box-shadow: 6px 6px 25px 0 #33333366;
  background-image: linear-gradient(#000, #000, #222);
  color: #fff;
}
.title {
  width: 100%;
  border-bottom: 2px solid #ff0;
  margin: 0;
}
.title h1 {
  padding: 25px;
  margin: 0;
  margin-block-end: 0;
  color: #ff0;
}
.info {
  text-align: left;
  padding: 10px 40px 0;
}
.next {
  border: 0;
  border-radius: 14px;
  padding: 6px 20px;
  font-size: 22px;
  margin-top: 30px;
  background-color: #0ff;
  font-family: "Bangers";
  color: #000;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .loading i {
    animation: loading-icon infinite 5s linear;
  }
}
@keyframes loading-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
